Repository ubalensi-yoobic/stencil-storybook: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

.lintstagedrc:

{
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*": "prettier --ignore-unknown --write"
}

feat(stencil): handle SASS stylesheets
  package-lock.json
  package.json
  stencil.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(stencil): add dependency and set build configuration
  .gitignore
  package-lock.json
  package.json
  src/components.d.ts
  stencil.config.ts
  tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

feat(config): include JSX files in code analysis
  .eslintrc
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat(config): add storybook scope
  .commitlintrc
Due: prettier --ignore-unknown --write

feat(storybook): add dependency and set build configuration
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --ignore-unknown --write

feat(storybook): allow using JSX stories
  .storybook/main.js
  .storybook/preview.js
Due: eslint --fix, prettier --ignore-unknown --write

fix(config): analyze relevant code only
  .eslintignore
Due: prettier --ignore-unknown --write

fix(config): analyze relevant stylesheets only
  .stylelintignore
  .stylelintrc
  package.json
Due: prettier --ignore-unknown --write

feat(config): sort code imports/exports
  .eslintrc
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat(config): upgrade lint dependencies
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat(stencil): upgrade dependency
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

fix(config): format relevant code only
  .prettierignore
Due: prettier --ignore-unknown --write

fix(stencil): ignore stories from build
  tsconfig.json
Due: prettier --ignore-unknown --write

feat(storybook): upgrade dependencies
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

fix(stencil): ignore stories from watch mode
  stencil.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(stencil): allow importing JSON files
  tsconfig.json
Due: prettier --ignore-unknown --write

feat(stencil): ignore generated file from code formatter
  .prettierignore
  src/components.d.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat(config): upgrade dependencies
  .stylelintrc
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat(features): implement stencil components in stories
  package-lock.json
  package.json
  src/button/button.stories.tsx
  src/button/button.tsx
  src/component/component.css
  src/component/component.stories.tsx
  src/component/component.tsx
  src/components.d.ts
  src/rating-component/rating.css
  src/rating-component/rating.stories.tsx
  src/rating-component/rating.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(training ytb): delete some files
  src/button/button.stories.tsx
  src/button/button.tsx
  src/component/component.css
  src/component/component.stories.tsx
  src/component/component.tsx
  src/rating-component/rating.css
  src/rating-component/rating.stories.tsx
  src/rating-component/rating.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(training ytb): implement a button
  src/beginning/button/button.stories.tsx
  src/beginning/button/button.tsx
  src/youtube/1.atoms/button/button.scss
  src/youtube/1.atoms/button/button.stories.tsx
  src/youtube/1.atoms/button/button.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(training ytb): changement in existing file
  src/beginning/rating-component/rating.scss
  src/beginning/rating-component/rating.stories.tsx
  src/beginning/rating-component/rating.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(training ytb): implement icon in atoms components
  src/youtube/1.atoms/icon/icon.scss
  src/youtube/1.atoms/icon/icon.stories.tsx
  src/youtube/1.atoms/icon/icon.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(training ytb): implement image in atoms components
  src/youtube/1.atoms/img/img.scss
  src/youtube/1.atoms/img/img.stories.tsx
  src/youtube/1.atoms/img/img.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(training ytb): implement txt in atoms components
  src/youtube/1.atoms/txt/txt.scss
  src/youtube/1.atoms/txt/txt.stories.tsx
  src/youtube/1.atoms/txt/txt.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(training ytb): beginning to implement slider for little chips tags in atoms components
  src/youtube/2.molecules/slider-chips/slider-chips.scss
  src/youtube/2.molecules/slider-chips/slider-chips.stories.tsx
  src/youtube/2.molecules/slider-chips/slider-chips.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(training ytb): implement video-card in molecules components
  src/youtube/2.molecules/video-card/video-card.scss
  src/youtube/2.molecules/video-card/video-card.stories.tsx
  src/youtube/2.molecules/video-card/video-card.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(training ytb): implement video-card in molecules components
  src/youtube/4.templates/right-side-section/right-side-section.scss
  src/youtube/4.templates/right-side-section/right-side-section.stories.tsx
  src/youtube/4.templates/right-side-section/right-side-section.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(training ytb): reviewing old components
  src/beginning/component/component.css
  src/beginning/component/component.stories.tsx
  src/beginning/component/component.tsx
  src/components.d.ts
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

chore(training ytb):adding bootstrap icons library
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat(ytb): implement input atom
  src/youtube/1. Atoms/input/input.scss
  src/youtube/1. Atoms/input/input.stories.tsx
  src/youtube/1. Atoms/input/input.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(ytb): improve button atom and diversify classes
  src/youtube/1. Atoms/button/button.scss
  src/youtube/1. Atoms/button/button.stories.tsx
  src/youtube/1. Atoms/button/button.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(ytb): remove unused files
  src/youtube/1.atoms/button/button.scss
  src/youtube/1.atoms/button/button.stories.tsx
  src/youtube/1.atoms/button/button.tsx
  src/youtube/1.atoms/icon/icon.scss
  src/youtube/1.atoms/icon/icon.stories.tsx
  src/youtube/1.atoms/icon/icon.tsx
  src/youtube/1.atoms/img/img.scss
  src/youtube/1.atoms/img/img.stories.tsx
  src/youtube/1.atoms/img/img.tsx
  src/youtube/1.atoms/txt/txt.scss
  src/youtube/1.atoms/txt/txt.stories.tsx
  src/youtube/1.atoms/txt/txt.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write

feat(ytb): implement search bar with input and button
  src/youtube/2. Molecules/search-bar/search-bar.scss
  src/youtube/2. Molecules/search-bar/search-bar.stories.tsx
  src/youtube/2. Molecules/search-bar/search-bar.tsx
Due: stylelint --fix, eslint --fix, prettier --ignore-unknown --write
